<!--Partie qui gere l'en tete de la nav-bar-->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/albums">Photothèque</a>
    </div>
</nav>